= form_for @mail do |f|
  -if @mail.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@mail.errors.count, "error")} prohibited this mail from being saved:"
      %ul
        - @mail.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
