.contextual
  = link_to t_action('new'), new_mail_path, :class => "icon icon-add"
%h2= t_title
%table.list
  %tr
    %th= t_attr(:date)
    %th= t_attr(:to)
    %th= t_attr(:subject)
    %th.action-links

  = render @mails
