%li[email]{'data-href' => url_for(email), :class => (email.is_reply? ? 'reply' : '')}
  .header
    %span.address= human_mail_address(email.to, email.name)
    %span.subject= link_to email.subject, email
    .action-links
      = link_to image_tag('16x16/remove.png', :title => 'Destroy'), email_path(email), :remote => true, :method => :delete, :confirm => t_confirm_delete(email), :title => 'Destroy'
      = link_to image_tag('16x16/reply.png', :title => 'Reply'), reply_email_path(email), :title => 'Reply'
    %span.date= time_ago_in_words(email.date) + " ago" if email.date
  .body= auto_link(truncate(email.body, :length => 300))
