%tr
  %td= email.date
  %td
    .subject= link_to email.subject, email
    .body= auto_link(truncate(email.body, :length => 80))
  %td= mail_address(email.to, email.name)
  %td.action-links
    = link_to image_tag('16x16/edit.png', :title => 'Edit'), edit_email_path(email), :method => :get, :title => 'Edit'
    = link_to image_tag('16x16/remove.png', :title => 'Destroy'), email_path(email), :remote => true, :method => :delete, :confirm => t_confirm_delete(email), :title => 'Destroy'
