= semantic_form_for @email, :html => {:multipart => true} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :in_reply_to_id, :as => :hidden
    = f.input :user_id, :as => :hidden
    = f.input :email_account_id, :as => :hidden
    = f.input :from, :as => :hidden
    = f.input :to
    = f.input :name
    = f.input :subject
    = f.input :body
    = f.semantic_fields_for :attachments do |a|
      = a.input :attachment, :as => :file

  = f.buttons do
    = f.commit_button
