= semantic_form_for @email do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :in_reply_to_id, :as => :hidden
    = f.input :to
    = f.input :name
    = f.input :subject
    = f.input :body
  = f.buttons do
    = f.commit_button
