.contextual
  = link_to t_action('new'), new_email_path, :class => "icon icon-add"
%h2= t_title
%table.list
  %tr
    = sort_header :date
    = sort_header :to
    = sort_header :subject
    %th.action-links

  = render @emails
